[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Basket Archives & Templates
Name[de]=Korbarchiv und Korbvorlagen
Name[es]=Archivo de cestas y plantillas
Name[fr]=Archive de paniers et modèles
Name[it]=Archivi e modelli di canestri
Name[ja]=バスケットアーカイブとテンプレート
Name[nb]=Kurvarkiv og kurvmaler
Name[nn]=Korgarkiv og korgmalar
Name[pt]=Arquivos e modelos de cestos
Name[ru]=Шаблоны и контейнеры Basket
Name[tr]=Basket Arşivleri & Şablonları
ServiceTypes=ThumbCreator
MimeTypes=application/x-basket-archive,application/x-basket-template
CacheThumbnail=true
X-KDE-Library=basketthumbcreator
