[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-basket-archive
Type=MimeType
Comment=Basket Archive
Comment[fr]=Archive de paniers
Comment[ja]=バスケットアーカイブ
Icon=baskets
Patterns=*.baskets
