[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-basket-archive
Type=MimeType
Comment=Basket Archive
Comment[fr]=Archive de paniers
Comment[it]=Archivio di canestri
Comment[ja]=バスケットアーカイブ
Comment[nn]=Korgarkiv
Icon=baskets
Patterns=*.baskets
