[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-basket-archive
Type=MimeType
Comment=Basket Archive
Comment[de]=Korbarchiv
Comment[es]=Archivo de cestas
Comment[fr]=Archive de paniers
Comment[it]=Archivio di canestri
Comment[ja]=バスケットアーカイブ
Comment[nb]=Kurvarkiv
Comment[nn]=Korgarkiv
Comment[pt]=Ficheiro de cestos
Comment[ru]=Контейнер Basket
Comment[tr]=Basket Arşivi
Icon=baskets
Patterns=*.baskets
