[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-basket-template
Type=MimeType
Comment=Basket Template
Comment[de]=Korbvorlage
Comment[es]=Plantilla de cesta
Comment[fr]=Modèle de panier
Comment[it]=Modello di canestri
Comment[ja]=バスケットテンプレート
Comment[nb]=Kurvmal
Comment[nn]=Korgmal
Comment[pt]=Modelo de cesto
Icon=baskett
Patterns=*.baskett
