[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=basket
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_basket
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libbasketpart
X-KDE-KontactPartExecutableName=basket
X-KDE-KontactPartLoadOnStart=true
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Website=http://basket.kde.org/
X-KDE-PluginInfo-Name=kontact_basketplugin
X-KDE-PluginInfo-Version=0.6.0Beta1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=BasKet Note Pads Plugin
Comment[fr]=Module Blocs notes BasKet
Name=Note Pads
Name[fr]=Blocs notes
