[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=basket
ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=libkontact_basket
X-KDE-KontactPluginVersion=4
X-KDE-KontactPartLibraryName=libbasketpart
X-KDE-KontactPartExecutableName=basket
X-KDE-KontactPartLoadOnStart=true
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Website=http://basket.kde.org/
X-KDE-PluginInfo-Name=kontact_basketplugin
X-KDE-PluginInfo-Version=1.0Beta3
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=BasKet Note Pads plugin for Kontact
Comment[de]=Plugin BasKet Notizblätter für Kontact
Comment[fr]=Module Blocs notes BasKet pour Kontact
Comment[it]=Plugin Blocco appunti BasKet per Kontact
Comment[ja]=BasKet メモパッドの Kontact 統合プラグイン
Comment[nn]=Korgnotat-tillegg for Kontakt
Comment[es]=Plugin de las notas de BasKet para Kontact
Comment[pt]=Plugin do Bloco de Notas BasKet para o Kontact
Comment[ru]=Модуль Альбом заметок Basket для Kontact

Name=Baskets
Name[de]=Körbe
Name[fr]=Paniers
Name[it]=Canestri
Name[ja]=バスケット
Name[nn]=Korger
Name[es]=Cestas
Name[pt]=Cestos
Name[ru]=Корзины
