[Desktop Entry]
Encoding=UTF-8
Icon=basket
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=basket
X-KDE-FactoryName=basket_config_baskets
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=Baskets
Name[fr]=Paniers
Name[ja]=バスケット
Name[nn]=Korger
Comment=Baskets
Comment[fr]=Paniers
Comment[ja]=バスケット
Comment[nn]=Korger
