[Desktop Entry]
Encoding=UTF-8
Icon=filenew
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=basket
X-KDE-FactoryName=basket_config_new_notes
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=New Notes
Name[de]=Neue Notizen
Name[fr]=Nouvelles notes
Name[it]=Nuove note
Name[ja]=新しいメモ
Name[nn]=Nye notat
Name[es]=Notas nuevas
Name[pt]=Anotações novas
Name[ru]=Новые заметки
Comment=New Notes
Comment[de]=Neue Notizen
Comment[fr]=Nouvelles notes
Comment[it]=Nuove note
Comment[ja]=新しいメモ
Comment[nn]=Nye notat
Comment[es]=Notas nuevas
Comment[pt]=Anotações novas
Comment[ru]=Новые заметки
