[Desktop Entry]
Encoding=UTF-8
Icon=run
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_basket
X-KDE-FactoryName=basket_config_apps
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=30

Name=Applications
Name[de]=Anwendungen
Name[es]=Aplicaciones
Name[fr]=Applications
Name[it]=Applicazioni
Name[ja]=アプリケーション
Name[nb]=Programmer
Name[nn]=Program
Name[pt]=Aplicações
Name[ru]=Приложения
Name[tr]=Uygulamalar
Comment=Applications
Comment[de]=Anwendungen
Comment[es]=Aplicaciones
Comment[fr]=Applications
Comment[it]=Applicazioni
Comment[ja]=アプリケーション
Comment[nb]=Programmer
Comment[nn]=Program
Comment[pt]=Aplicações
Comment[ru]=Приложения
Comment[tr]=Uygulamalar
