[Desktop Entry]
Encoding=UTF-8
Icon=run
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=basket
X-KDE-FactoryName=basket_config_apps
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=30

Name=Applications
Name[fr]=Applications
Name[ja]=アプリケーション
Name[nn]=Program
Name[es]=Aplicaciones
Name[pt]=Aplicações
Comment=Applications
Comment[fr]=Applications
Comment[ja]=アプリケーション
Comment[nn]=Program
Comment[es]=Aplicaciones
Comment[pt]=Aplicações
