[Desktop Entry]
Encoding=UTF-8
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_basket
X-KDE-FactoryName=basket_config_general
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=General
Name[de]=Allgemein
Name[es]=General
Name[fr]=Général
Name[it]=Generale
Name[ja]=全般
Name[nb]=Generelt
Name[nn]=Generelt
Name[pt]=Geral
Name[ru]=Общие
Name[tr]=Genel
Comment=General
Comment[de]=Allgemein
Comment[es]=General
Comment[fr]=Général
Comment[it]=Generale
Comment[ja]=全般
Comment[nb]=Generelt
Comment[nn]=Generelt
Comment[pt]=Geral
Comment[ru]=Общие
Comment[de]=Genel
