[Desktop Entry]
Encoding=UTF-8
Name=BasKet Note Pads
Name[de]=BasKet Notizblätter
Name[fr]=Blocs notes BasKet
Name[ja]=Basket メモパッド
Name[xx]=xxBasKetxx
Exec=basket
Icon=basket
Type=Application
Comment=Taking care of your ideas.
Comment[fr]=Prendre soin de vos idées.
Comment[nn]=Ta vare på tankane dine.
Comment[ja]=あなたのアイデアのお世話をします。
Comment[xx]=xxTaking care of your ideas.xx
