[Desktop Entry]
Encoding=UTF-8
Icon=colorize
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=basket
X-KDE-FactoryName=basket_config_notes_appearance
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=Notes Appearance
Name[de]=Erscheinungsbild
Name[fr]=Apparence des notes
Name[ja]=メモの外観
Name[es]=Apariencia de las notas
Name[ru]=Вид
Comment=Notes Appearance
Comment[de]=Erscheinungsbild der Notizen
Comment[fr]=Apparence des notes
Comment[ja]=メモの外観
Comment[es]=Apariencia de las notas
Comment[ru]=Вид
