[Desktop Entry]
Encoding=UTF-8
Icon=basket
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_basket
X-KDE-FactoryName=basket_config_baskets
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=Baskets
Name[de]=Körbe
Name[es]=Cestas
Name[fr]=Paniers
Name[it]=Canestri
Name[ja]=バスケット
Name[nb]=Kurver
Name[nn]=Korger
Name[pt]=Cestos
Name[ru]=Корзины
Name[tr]=Sepetler
Comment=Baskets
Comment[de]=Körbe
Comment[es]=Cestas
Comment[fr]=Paniers
Comment[it]=Canestri
Comment[ja]=バスケット
Comment[nb]=Kurver
Comment[nn]=Korger
Comment[pt]=Cestos
Comment[ru]=Корзины
Comment[tr]=Sepetler
