[Desktop Entry]
Encoding=UTF-8
Name=basketPart
Name[br]=Perzhbasket
Name[ca]=Part per a basket
Name[el]=Τμήμαbasket
Name[et]=basket komponent
Name[it]=Componente basket
Name[ja]=basket パート
Name[nn]=korgDel
Name[nb]=kurvDel
Name[pt_BR]=Parte basket
Name[sv]=basket-del
Name[ta]=basketபாகம்
Name[tr]=basket Bileşeni
Name[es]=Componente de Basket
MimeType=application/x-basket;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libbasketpart
Type=Service
