[Desktop Entry]
Encoding=UTF-8
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_basket
X-KDE-FactoryName=basket_config_notes_appearance
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=Notes Appearance
Name[de]=Erscheinungsbild
Name[es]=Apariencia de las notas
Name[fr]=Apparence des notes
Name[it]=Aspetto delle note
Name[ja]=メモの外観
Name[nb]=Notatutseende
Name[nn]=Notatutsjånad
Name[ru]=Вид
Name[tr]=Not Görünümleri
Comment=Notes Appearance
Comment[de]=Erscheinungsbild der Notizen
Comment[es]=Apariencia de las notas
Comment[fr]=Apparence des notes
Comment[it]=Aspetto delle note
Comment[ja]=メモの外観
Comment[nb]=Notatutseende
Comment[nn]=Notatutsjånad
Comment[ru]=Вид
Comment[tr]=Not Görünümleri
