[Desktop Entry]
Encoding=UTF-8
Icon=filenew
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=basket
X-KDE-FactoryName=basket_config_new_notes
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=New Notes
Name[fr]=Nouvelles notes
Name[ja]=新しいメモ
Comment=New Notes
Comment[fr]=Nouvelles notes
Comment[ja]=新しいメモ
