[Desktop Entry]
Type=Service
Icon=basket
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_basketplugin
X-KDE-KontactPluginVersion=9
X-KDE-KontactPartLibraryName=libbasketpart
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_basketplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=BasKet NotePads -- a KDE note organization application
Name=basket
