<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">

<gui name="basket" version="3" >
	<MenuBar>
		<Menu name="view">
			<text>&amp;View</text>
			<Action name="tree_view" />
		</Menu>
		<Menu name="settings">
			<text>&amp;Settings</text>
			<Action name="settings_prefs" />
		</Menu>
	</MenuBar>
	<ToolBar noMerge="1" name="mainToolBar">
		<text>Main ToolBar</text>
		<Action name="file_new" />
		<Action name="edit_cut" />
		<Action name="edit_copy" />
		<Action name="edit_paste" />
		<Action name="edit_undo" />
		<Action name="edit_redo" />
	</ToolBar>
	<ToolBar>
		<text>Font toolbar</text>
		<Action name="font_select" />
		<Action name="fontsize_select" />
		<Action name="format_text_bold" />
		<Action name="format_text_italic" />
		<Action name="format_text_underline" />
		<Action name="format_justify_left" />
		<Action name="format_justify_right" />
		<Action name="format_justify_center" />
		<Action name="format_justify_fill" />
	</ToolBar>
</gui>
